@charset "UTF-8";

/*
test nouveau nuancier
#577843 vert logo
#424f2f vert sombre
#ee7214 orange logo
#994f16 orange sombre
#404336 anthracite police
#ebe4d5 beige clair
#dacdba beige moyen
#d0b998 beige foncé
*/


*, ::before, ::after {
	/*box-sizing: border-box;*/
	margin: 0;
	padding: 0;
}

body{
	margin: auto;	
	background-color: #ebe4d5;	
	color: #404336;
	font-family: verdana;
	width: 90%;
}

p, label, a, h2, h3, h1, input, select { 
	font-family: 'Montserrat', sans-serif;
}

nav {
	display: flex;
	flex-direction: row;	
}

h1 {
	color: #404336;
	text-align: center;
	font-size: 1.6em;
	margin-top: 0px;
	margin-bottom: 1.4em;
}

h2 {
	font-size: 1.2em;
	text-align: center;
}

a {
	color: #ee7214;

}

a:hover {
	color: #994f16;
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

label {
	margin: 0.4em;
}

button {
	border-radius: 5px;
	border: none;
	background-color: #577843;
	color: #ebe4d5;
	padding-top : 0.4em;
	padding-bottom : 0.4em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	max-width: 160px;
	margin : 5px;
	font-size: 1.2em;
}

button:hover {
	background-color: #424f2f;
}

input {
	background-color: #ebe4d5;	
	border: 2px solid #d0b998;
	border-radius: 5px;
	margin: 0.4em;
	min-height: 1.8em;
	font-size: 1em;
	color: #404336;
	
}

input:focus {
	outline: 2px solid #ee7214;
}

select {
	background-color: #ebe4d5;	
	border: 2px solid #d0b998;
	border-radius: 5px;
	margin: 0.4em;
	height: 2em;
	font-size: 1em;
	color: #404336;
}

select:focus {
	outline: 2px solid #ee7214;
}

select option:hover {
    background-color: #dacdba;
}

form {
	display: flex;
	flex-direction : column;	
}

input, select{
	padding-left: 5px;
}

/*************************TYPE***************************/

input[type="checkbox"]:checked, input[type="radio"]:checked{
	outline: none;
}

input[type="checkbox"]:focus, input[type="radio"]:focus{
	outline: none;
}

/*************************CLASS***************************/

.bouttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 5px;
}

.divEnchereFormContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #dacdba;
	border-radius: 5px;
	margin-bottom: 10px;
}


.bouttonAnnuler {
	background-color: #ee7214;
}

.bouttonAnnuler:hover {
	background-color: #994f16;
}


.headerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
}

.ulItem {
	display: flex;
	flex-direction: row;
}

.afficherEnchereContainer {
	margin: 0px;
	gap: 10px;	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.afficherEnchereItem {
	border: none;
	border-radius: 5px;
	width: 30%;
	min-width: 360px;
	height: 200px;
	background-color: #dacdba; 
	padding: 10px;
	display: flex;
}

.imgAfficherEnchereBloc {
	width: 200px;
	min-width: 200px;
	height: 200px;
	background-color: #d0b998; 
	border-radius: 5px;
	overflow: hidden;
	box-sizing: border-box;  /* Pour inclure le padding dans la largeur */
	/*
	display: flex;
	align-items: center;
	*/
}

.imgAfficherEnchere {
	width: 100%;
	min-width: 200px;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.texteAfficherEnchere{
	margin-left: 10px;
	
}

.FormContainer {
	display: flex;
	justify-content: center;
}

.checkbox-container {
	display: flex;
	flex-direction : row;
	justify-content: center;
	margin-bottom: 10px;
}

.checkbox-Item {
	display: flex;
	flex-direction : row;
	align-items: center;
}

.radio-option{
	display: flex;
	flex-direction: row;
}

.filtreContainer {
	display: flex;
	flex-direction: column;
}

.filtreRadio {
	display: flex;
	flex-direction: row;
}

.profilContainer {
	display: flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	max-width: 400px;
	background-color: #dacdba;
	border-radius: 5px;
	margin: auto;
}

.profilText {
	display: flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.detailArticleContainer {
	display: flex;
	flex-direction : column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	max-width: 800px;
	background-color: #dacdba;
	border-radius: 5px;
	margin: auto;
	overflow: hidden;
}

.detailArticleItem {
	display: flex;
	flex-direction : row;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	overflow: hidden;
}

.detailArticleText {
	display: flex;
	flex-direction : column;
	padding: 20px;
}

.imgAfficherAticleContainer{
	display: flex;
	flex-direction : row;
	justify-content: center;
	align-items: center;
	max-width: 50%;
	width: 300px;
	height: 200px;
	min-width: 200px;
	min-height: 200px;
	background-color: #d0b998; 
	border-radius: 5px;
	overflow: hidden;
	box-sizing: border-box;
	margin-bottom: 20px;
}

.bouttonEncherir {
	display: flex;
	flex-direction : row;
	justify-content: center;
	align-items: center;
}

.inscriptionContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #dacdba;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 20px;	
}

.inscriptionText {
	display: flex;
	flex-direction: row;
}

.inscriptionText1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.inscriptionText2 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.inscriptionBoutton{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.inscriptionTextItem {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


/*********************ELEMENT IN CLASS***********************/

.profilText p {
	margin: 10px;
	font-size: 1.4em;
}

.ulItem li {
	margin:5px;
}

.headerContainer img {
	max-width: 20vw;
	min-width: 160px;
}

.detailArticleText p, a{
	margin-top: 10px;
	margin-bottom: 10px;
}


/*************************ID***************************/


#nomArticle {
	width: 160px;
}

#categories {
	width: 160px;
}

#inputCategorieEnchere label {
	vertical-align: middle;
}

#connexionForm {
	padding: 20px;
	background-color: #dacdba;
	border-radius: 5px;
}

#connexionLink {
	padding: 10px;
	text-align: center;
	display: flex;
	flex-direction : column;
}

#articleForm {
	padding: 20px;
	background-color: #dacdba;
	border-radius: 5px;
}

#dateEnchere {
	font-size: 0.6em;
	margin: 0.4em;
	color: #ee7214;
}

#enchereForm {
	display: flex;
	flex-direction : row;
	justify-content: space-between;
	align-items: center;
	width: 94%;
}

#inputEnchere {
	display: flex;
	flex-direction : column;
}

#inputEnchereBase {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#connexionLink a{
	margin-top: 5px;
	margin-bottom: 5px;
}

#articleForm h2 {
	margin-top: 20px;
}


/*************************PORTABLE***************************/

@media screen and (max-width: 1000px) {
	
	body {
        font-size: 14px;
    }
    
    nav {
    font-size: 1.2em;
    }
    
	.header {	
    display: flex;
    flex-direction: column;
    align-items: center; 
	}

	.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
	}

	.ulItem {
    display: flex;
    flex-direction: row;
    justify-content: center; 
	}
	
	.checkbox-container {
	flex-direction : column;
	justify-content: center;
	}
	
	.hidden-text {
    display: none;
    }
	
	.inputChercher {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 15px;
	}
	
	.radio-option {
	display: flex;
	flex-direction : row;
	justify-content: space-around;
	}
	
	.filtreContainer {
	display: flex;
	flex-direction : column;
	justify-content: center;
	margin-right: 10px;
	margin-left: 10px;
	}
	
	.checkbox-Container {
	display: flex;
	flex-direction : row;
	justify-content: center;
	}
	
	.filtreRadio {
	display: flex;
	flex-direction : row;
	justify-content: center;
	align-items: center;
	width: 170px;
	}
	
	.afficherEnchereContainer {
	justify-content: center;
	}
	
	.detailArticleItem {
	flex-direction : column;
	}
	
	.imgAfficherAticleContainer{
	margin-bottom: 0px;
	}
	
	.bouttonEncherir	{
	flex-direction : column;
	}
	
	.checkbox-container input, label{
	margin: 0px;
	}
	
	.profilText p {
	margin: 5px;
	font-size: 1em;
	}

	.inscriptionText {
	display: flex;
	flex-direction: column;
	}	
	
	#inputEnchere {
	display: flex;
	flex-direction : column;
	justify-content: center;
	}
	
	#enchereForm {
	display: flex;
	flex-direction : column;
	justify-content: center;
	}
	
	#inputEnchereBase {
	display: flex;
	flex-direction : row;
	justify-content: space-around;
	text-align: center;
	margin-top: 20px;
    margin-bottom: 0px;
	}
	
	#inputNomEnchere {
	display: flex;
	flex-direction : column;
	justify-content: center;
	}
	
	#inputCategorieEnchere {
	display: flex;
	flex-direction : column;
	justify-content: center;
	}
    
    #dateEnchere {
    font-size: 0.8em;
    }

}


/*************************ENTRE DEUX***************************/

@media screen and (max-width: 500px) {
	.filtreContainer label {
	font-size: 0.8em;
	}
}
