@charset "UTF-8";

/*
#4c7c48 vert logo
#2f5a1a vert sombre
#f96852 orange logo
#b3311d orange sombre
#251f12 anthracite police
#cdc1a7 fond image vide (beige foncé ?)
rgb(240, 235, 213);
*/

body{
	margin: 0px;
	padding: 0px;	
	background-color: rgb(240, 235, 213);	
	color: #251f12;
	font-family: verdana;
}

nav {
	display: flex;
	flex-direction: row;	
}

h1 {
	color: #4c7c48;
	text-align: center;
}

a {
	color: #f96852; 
}

a:hover {
	color: #b3311d;
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

button {
	border-radius: 5px;
	border: none;
	background-color: #4c7c48;
	color: rgb(240, 235, 213);
	padding-top : 0.4em;
	padding-bottom : 0.4em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	margin : 5px;
	font-size: 1em;
}

button:hover {
	background-color: #2f5a1a;
}

input {
	background-color: #fff;	
	color: #251f12;
	border: 2px solid #251f12;
	border-radius: 5px;
	
}

input:focus {
	outline: 2px solid #f96852;
}

select {
	background-color: #fff;	
	color: #251f12;
	border: 2px solid #251f12;
	border-radius: 5px;
}

form {
	display: flex;
	flex-direction : column;
	width: 20vw;
}


.bouttonAnnuler {
	background-color: #f96852;
}

.bouttonAnnuler:hover {
	background-color: #b3311d;
}


.headerContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
}

.ulItem {
	display: flex;
	flex-direction: row;
	margin-right: 5vw;
}

.afficherEnchereContainer {
	margin: 0px;
	padding: 10px;	
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	justify-content: center;
}

.afficherEnchereItem {
	border: 1px solid black;
	width: 420px;
	height: 200px;
	background-color: white; 
	margin: 5px;
	padding: 10px;
	display: flex;

}

.imgAfficherEnchereBloc {
	width: 200px;
	height: 200px;
	background-color: #cdc1a7; 
}

.imgAfficherEnchere {
	max-width: 200px;
	max-height: 200px;
	margin-right: 5px;
}

.texteAfficherEnchere{
	margin-left: 5px;
	background-color:  white; 
	
}

.ulItem li {
	margin:5px;
}

.headerContainer img {
	margin-left: 5vw;
	max-width: 20vw;
}

